@import './../../../../styles.scss';

.background {
    background-color: white;
    @include position-center($fd: column);
    padding: 50px;
    border-radius: 30px;
    gap: 50px;
    min-width: 600px;

    h1 {
        @include font-design($fs: 61px, $fw: 
        700);
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 20px;
        text-decoration-color: #29ABE2;
    }
} 

header {
    @include position-center();
    width: 100%;
    position: relative;

    mat-icon {
        position: absolute;
        left: 0;
        color: #29ABE2;
        font-size: 28px;
        transition: 125ms ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateX(-5px) scale(1.05);
        }
    }
}

form {
    .checkbox-error {
        top: 18px;
        left: auto;
    }
}

.btn-div {
    @include position-center();
    position: relative;
    gap: 20px;
}

.checkbox-label {
    padding: 0;
    border: 0;
    @include position-center($jc: center);
    gap: 12px;

    input {
        width: auto;
    }

    a {
        padding: 0;
        color: #29ABE2;

        &:hover {
            text-decoration: underline;
        }
    }
}