<div class="background">
    <header>
        <mat-icon *ngIf="formType === 'signUp'" fontIcon="arrow_back" (click)="goToPreviousPage()"></mat-icon>
        <h1 *ngIf="formType === 'signUp'">Sign up</h1>
        <h1 *ngIf="formType === 'logIn'">Log</h1>
    </header>
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
        <label *ngIf="formType === 'signUp'" for="">
            <input type="name" placeholder="Name" required minlength="1" name="name" #name="ngModel"
                [(ngModel)]="formData.nameValue">
            <mat-icon fontIcon="mail_outlined"></mat-icon>
            @if (!name.valid && name.touched) {
            <span class="span-error">Oops! it seems your name is missing</span>
            }
        </label>
        <label for="">
            <input type="email" placeholder="Email" required name="email"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #email="ngModel"
                [(ngModel)]="formData.emailValue">
            <mat-icon fontIcon="mail_outlined"></mat-icon>
            @if (!email.valid && email.touched) {
            <span class="span-error" *ngIf="formData.emailValue.length === 0">Hoppla! your email is required</span>
            <span class="span-error" *ngIf="formData.emailValue.length > 0">We need a valid e-mail address!</span>
            }
        </label>
        <label>
            <input type="password" placeholder="Password" name="password" required minlength="6" #password="ngModel"
                [(ngModel)]="formData.passwordValue">
            <mat-icon fontIcon="lock_outlined" class="material-symbols-outlined"></mat-icon>
            @if (!password.valid && password.touched) {
            <span class="span-error" *ngIf="formData.passwordValue.length === 0">Please enter a valid password</span>
            <span class="span-error" *ngIf="formData.passwordValue.length > 0">Your password must be at least 6 characters</span>
            }
        </label>
        <label *ngIf="formType === 'signUp'" for="">
            <input type="password" placeholder="Confirm Password" required="" minlength="6" name="confirmPassword"
                #confirmPassword="ngModel" [(ngModel)]="formData.confirmPasswordValue">
            <mat-icon fontIcon="mail_outlined"></mat-icon>
            @if (!confirmPassword.valid && confirmPassword.touched || formData.confirmPasswordValue.length >=6 &&
            formData.passwordValue !== formData.confirmPasswordValue) {
            <span class="span-error" *ngIf="formData.confirmPasswordValue.length === 0">Please enter a valid password</span>
            <span class="span-error" *ngIf="formData.confirmPasswordValue.length > 0 && formData.confirmPasswordValue.length < 6">Your
                password must be at least 6 characters</span>
            <span class="span-error"
                *ngIf="formData.confirmPasswordValue.length >= 6 && formData.passwordValue !== formData.confirmPasswordValue">Oops!
                Your password doesn't match</span>
            }
        </label>
        <label *ngIf="formType === 'signUp'" for="" class="checkbox-label">
            <input type="checkbox" #checkbox="ngModel" required name="checkbox"
                [(ngModel)]="formData.checkboxPrivacyPolicy">
            <p>I accept the<a href="/privacy-police">Privacy Police</a></p>
            @if (showCheckboxError) {
            <span class="span-error" class="checkbox-error">Please accept the privacy policy</span>
            }
        </label>
        <div class="btn-div">
            <button *ngIf="formType === 'logIn'" [ngClass]="{'disabled': !form.valid}" [disabled]="form.invalid"
                type="submit" mat-flat-button class="filled">Log in</button>
            <button *ngIf="formType === 'logIn'" mat-stroked-button class="outline" (click)="guestLogIn()">Guest Log in</button>
            <button *ngIf="formType === 'signUp'" [ngClass]="{'disabled': !form.valid}" [disabled]="form.invalid"
                type="submit" mat-stroked-button class="filled">Sign up</button>
                @if (showLoginFailedError && formType === 'logIn') {
                    <span class="span-error" [ngStyle]="{'left': 'auto'}">Email or password is incorrect</span>
                }
        </div>
    </form>
</div>

<div class="signed-up-message" *ngIf="showMessage">
    <div>
        <p>You signed up successfully</p>
    </div>
</div>