<section class="content-dashboard">
    <h1>Legal Notice</h1>
    <h2>Information and Disclosure in accordance with &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO, and &sect;
        14 UGB</h2>
    <div>
        <h2>Website Operator</h2>
        <p>Albin Schmid</p>
    </div>
    <div>
        <h2>Address</h2>
        <p>Oberried 60, 6444 Längenfeld</p>
    </div>
    <div class="contact-info">
        <h2>Contact Information</h2>
        <p>Phone: <a href="tel.: +4369911345685">+4369911345685</a></p>
        <p>Email: <a href="mailto: contact@albin-schmid.com">contact&#64;albin-schmid.com</a></p>
    </div>
    <!-- <p><b>Contact Information:</b> <br>  <br> Email: contact&#64;albin-schmid.com</p> -->

    <div>
        <h2>Applicable Legal Regulations</h2>
        <p>www.ris.bka.gv.at</p>
    </div>
    <div>
        <h2>Online Dispute Resolution</h2>
        <p>Consumers who are resident in Austria or any other contracting state of the ODR
            Regulation have the opportunity to resolve issues related to the paid purchase of goods or services through
            online dispute resolution (according to OS, AStG). The European Commission provides a platform for this
            purpose:
            https://ec.europa.eu/consumers/odr
        </p>
    </div>
    <div>
        <h2>Copyright</h2>
        <p>The contents of this website are, as far as legally possible, subject to various protection
            rights (e.g., copyright). Any use/distribution of the provided material that is prohibited by copyright law
            requires the written consent of the website operator.</p>
    </div>
    <div>
        <h2>Disclaimer</h2>
        <p>Despite careful content control, the website operator assumes no liability for the content of
            external links. The operators of the linked pages are solely responsible for their content. If you
            nevertheless
            become aware of outgoing links referring to a website with illegal activity/information, we request an
            appropriate notice so that we can promptly remove such links in accordance with &sect; 17 (2) ECG.<br> The
            website operator takes the copyright of third parties very seriously. If you still become aware of a
            copyright
            infringement, please provide an appropriate notice. If we become aware of such legal violations, we will
            remove
            the affected content immediately.</p>
    </div>
    <p>Source: <b><a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php">Impressum Generator
                Austria</a></b></p>
</section>