<section>
    <div class="contacts-view">
        <button class="filled add-contact-btn" (click)="openDialog('add')">Add new contact <mat-icon
                fontIcon="person_add"></mat-icon></button>
        <div class="contacts" *ngIf="dashboardService.showContactsList">
            @for (contact of apiService.contacts; track $index) {
                <app-contact-button [contact]="contact"></app-contact-button>
            }
        </div>
    </div>
    <div class="content-dashboard">
        <header>
            <h1>Contacts</h1>
            <div class="line-blue"></div>
            <h4>Better with a team</h4>
        </header>
        <app-contact-detail *ngIf="dashboardService.contactDetailView"></app-contact-detail>
    </div>
</section>