<section>
    <div class="contacts-view">
        <button class="filled add-contact-btn" (click)="openDialog('add')">Add new contact <mat-icon fontIcon="person_add"></mat-icon></button>
        <div class="contacts">
            <p>A</p>
            <div class="line-grey"></div>
            <div>
                <button class="contact-btn">
                    <div class="contact-profile">
                        AM
                    </div>
                    <div class="contact-info">
                        <p class="name">Anton Mayer</p>
                        <a href="mailto:antom@gmail.com">antom&#64;gmail.com</a>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="content-dashboard">
        <header>
            <h1>Contacts</h1>
            <div class="line-blue"></div>
            <h4>Better with a team</h4>
        </header>
        <app-contact-detail></app-contact-detail>
    </div>
</section>
