<section class="content-dashboard">
    <header>
        <h1>Join 360</h1>
        <div class="line-blue"></div>
        <h4>Key Metrics at a Glance</h4>
    </header>
    <div class="content">
        <div class="task-overview">
            <div class="task-row">
                <div class="task-info hover-to-do">
                    <mat-icon fontIcon="edit"></mat-icon>
                    <span>
                        <h6>1</h6>
                        <p>To-do</p>
                    </span>
                </div>
                <div class="task-info hover-done">
                    <mat-icon fontIcon="check"></mat-icon>
                    <span>
                        <h6>2</h6>
                        <p>Done</p>
                    </span>
                </div>
            </div>
            <div class="task-row">
                <div class="task-mid hover-urgent">
                    <div class="left-part">
                        <mat-icon fontIcon="keyboard_double_arrow_up"></mat-icon>
                        <span>
                            <h6>1</h6>
                            <p>Urgent</p>
                        </span>
                    </div>
                    <div class="line-grey"></div>
                    <div class="right-part">
                        <p class="date">October 16, 2022</p>
                        <p class="txt-deadline">Upcoming Deadline</p>
                    </div>
                </div>
            </div>
            <div class="task-row">
                <div class="task-info hover-board">
                    <span>
                        <h6>5</h6>
                        <p>Task in Board</p>
                    </span>
                </div>
                <div class="task-info hover-progress">
                    <span>
                        <h6>2</h6>
                        <p>Task in Progress</p>
                    </span>
                </div>
                <div class="task-info hover-feedback">
                    <span>
                        <h6>3</h6>
                        <p>Awaiting Feedback</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="greeting-div">
            <div>
                <h3>Good morning,</h3>
                <h2>{{ apiService.userData.username }}</h2>
            </div>
        </div>
    </div>
</section>