<section class="content-dashboard">
    <header>
        <h1>Join 360</h1>
        <div *ngIf="windowWidth > 580" class="line-blue"></div>
        <h4>Key Metrics at a Glance</h4>
        <div *ngIf="windowWidth <= 579" class="line-blue"></div>
    </header>
    <div class="content">
        <div class="task-overview">
            <div class="task-row">
                <div class="task-info hover-to-do" (click)="openBoard()">
                    <mat-icon fontIcon="edit"></mat-icon>
                    <span>
                        <h6>{{ todoCount }}</h6>
                        <p>To-do</p>
                    </span>
                </div>
                <div class="task-info hover-done"  (click)="openBoard()">
                    <mat-icon fontIcon="check"></mat-icon>
                    <span>
                        <h6>{{ doneCount }}</h6>
                        <p>Done</p>
                    </span>
                </div>
            </div>
            <div class="task-row" (click)="openBoard()">
                <div class="task-mid hover-urgent">
                    <div class="left-part">
                        <mat-icon fontIcon="keyboard_double_arrow_up"></mat-icon>
                        <span>
                            <h6>{{ urgentCount }}</h6>
                            <p>Urgent</p>
                        </span>
                    </div>
                    <div class="line-grey"></div>
                    <div class="right-part">
                        <p class="date" *ngIf="upcomingDeadline !== null">{{ upcomingDeadline }}</p>
                        <p class="date" *ngIf="upcomingDeadline === null">No Upcoming Deadline</p>
                        <p class="txt-deadline">Upcoming Deadline</p>
                    </div>
                </div>
            </div>
            <div class="task-row">
                <div class="task-info hover-board" (click)="openBoard()">
                    <span>
                        <h6>{{ allTaskCount }}</h6>
                        <p>Task in Board</p>
                    </span>
                </div>
                <div class="task-info hover-progress" (click)="openBoard()">
                    <span>
                        <h6>{{ inProgressCount }}</h6>
                        <p>Task in Progress</p>
                    </span>
                </div>
                <div class="task-info hover-feedback" (click)="openBoard()">
                    <span>
                        <h6>{{ awaitingFeedbackCount }}</h6>
                        <p>Awaiting Feedback</p>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="windowWidth > 1000" class="greeting-div">
            <div>
                <h3>{{ getGreetingText() }},</h3>
                <h2>{{ getName() }}</h2>
            </div>
        </div>
    </div>
</section>