@use '@angular/material' as mat;

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none;
}

section {
    padding: 40px;
    width: clamp(60rem, 22.5rem + 60vw, 75rem);
    height: 750px;
}

