<section>
    <header>
        <h1>Add Task</h1>
    </header>
    <main>
        <form action="" (ngSubmit)="submitForm(form)" #form="ngForm">
            <div class="left-part">
                <div class="form-field-overlaying-div">
                    <p>Title<mark> *</mark></p>
                    <label>
                        <input type="title" placeholder="Enter a title" required minlength="1" name="title"
                            #taskTitle="ngModel" [(ngModel)]="formData.taskTitle">
                        @if (!taskTitle.valid && taskTitle.touched) {
                        <span class="span-error">Please enter a title!</span>
                        }
                    </label>
                </div>
                <div class="form-field-overlaying-div">
                    <p>Desciption</p>
                    <label class="label-textarea">
                        <textarea type="Desciption" placeholder="Enter a Desciption" name="title"
                            #taskDescription="ngModel" [(ngModel)]="formData.taskDescription"></textarea>
                    </label>
                </div>
                <div class="form-field-overlaying-div">
                    <p>Assigned to</p>
                    <div class="label-frame">
                        <label for="" class="dropdown-label" (click)="openDrowDown('assign')">
                            <input type="" placeholder="Select contacts to assign">
                            <mat-icon fontIcon="arrow_drop_down"
                                [ngClass]="{'rotate-icon': showDrowDownAssign}"></mat-icon>
                        </label>
                        <div class="dropdown-menu" *ngIf="showDrowDownAssign">
                            <mat-checkbox class="select-item">
                                <div class="contact-profile">
                                    MA
                                </div>
                                <p>Max Mustermann</p>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-grey"></div>
            <div class="right-part">
                <div class="form-field-overlaying-div">
                    <p>Due date<mark> *</mark></p>
                    <label>
                        <input matInput [matDatepicker]="picker" required name="taskDueDate" placeholder="mm/dd/yyyy"
                            #taskDueDate="ngModel" [(ngModel)]="formData.taskDueDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        @if (taskDueDate.invalid && taskDueDate.touched) {
                        <span class="span-error">Ops, seems like the date is missing!</span>
                        }
                    </label>
                </div>
                <div class="form-field-overlaying-div">
                    <p>Prio</p>
                    <div class="prio-content">
                        <div class="urgent" [ngClass]="{'active-urgent': urgentBtn}" (click)="setPrio('urgent')">Urgent
                            <mat-icon fontIcon="keyboard_double_arrow_up"></mat-icon>
                        </div>
                        <div class="medium" [ngClass]="{'active-medium': mediumBtn}" (click)="setPrio('medium')">Medium
                            <mat-icon fontIcon="drag_handle"></mat-icon>
                        </div>
                        <div class="low" [ngClass]="{'active-low': lowBtn}" (click)="setPrio('low')">Low <mat-icon
                                fontIcon="keyboard_double_arrow_down"></mat-icon></div>
                    </div>
                </div>
                <div class="form-field-overlaying-div">
                    <p>Category <mark>*</mark></p>
                    <div class="label-frame">
                        <label for="" class="dropdown-label" (click)="openDrowDown('category')">
                            <input class="category-input" placeholder="Select task Category" #taskCategory="ngModel"
                                name="taskCategory" [(ngModel)]="formData.taskCategory" readonly>
                            <mat-icon fontIcon="arrow_drop_down"
                                [ngClass]="{'rotate-icon': showDrowDownCategory}"></mat-icon>
                        </label>
                        <div class="dropdown-menu" *ngIf="showDrowDownCategory">
                            <div class="select-item" (click)="setCategory('technicalTask')">
                                <p>Technical Task</p>
                            </div>
                            <div class="select-item" (click)="setCategory('userStory')">
                                <p>User Story</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-field-overlaying-div">
                    <p>Subtasks</p>
                    <label>
                        <input type="title" placeholder="Add new subtask" maxlength="30" name="subtaskTitle"
                            #subtaskTitle="ngModel" [(ngModel)]="subtaskInput">
                        <div class="subtask-input-btns" *ngIf="subtaskInput.length > 0">
                            <mat-icon fontIcon="close" (click)="subtaskInput = ''"></mat-icon>
                            <div class="line-grey"></div>
                            <mat-icon fontIcon="check" (click)="addSubtask()"></mat-icon>
                        </div>
                    </label>
                    <div class="subtask-list">
                        <ul>
                            @for (subtask of taskSubtasks; track $index) {
                                <li [ngClass]="{'li-backgroundcolor-active' : editSubtaskId === $index}">
                                    <p *ngIf="editSubtaskId !== $index">{{ subtask }}</p>
                                    <input *ngIf="editSubtaskId === $index" maxlength="30" name="editSubtask" [ngClass]="{'active-input': editSubtaskId === $index}" #subtaskTitle="ngModel" [(ngModel)]="editSubtaskInput">
                                    <div class="subtask-input-btns">
                                        <mat-icon *ngIf="editSubtaskId !== $index" fontIcon="edit" (click)="editTheSubtask(subtask, $index)" ></mat-icon>
                                        <mat-icon *ngIf="editSubtaskId === $index" fontIcon="check" (click)="safeEditSubtask($index)"></mat-icon>
                                        <div class="line-grey"></div>
                                        <mat-icon fontIcon="delete" (click)="removeSubtask($index)"></mat-icon>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <p><mark>*</mark> This field is required</p>
        <div>
            <button class="outline">Create Task <mat-icon fontIcon="close"></mat-icon></button>
            <button class="filled">Clear <mat-icon fontIcon="check"></mat-icon></button>
        </div>
    </footer>
</section>