@import "./../../../../styles.scss";

::ng-deep .mdc-linear-progress {
    border-radius: 25px;
    height: 8px !important;
}

::ng-deep .mdc-linear-progress__buffer {
    height: 8px !important;
}

::ng-deep .mdc-linear-progress__bar {
    height: 8px !important;
}

::ng-deep .mdc-linear-progress__bar-inner {
    border-top-width: 8px !important;
    border-color: #4589FF !important;
}

::ng-deep .cdk-drop-list-dragging {
    cursor: grabbing !important;
}

::ng-deep .cdk-drag-preview {
    rotate: 2deg !important;
    top: -11px !important;
    left: 13px !important;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}

section {
    @include position-center($jc: flex-start, $ai: flex-start, $fd: column);
    width: 100%;
    gap: 12px;
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);

    &:hover {
        cursor: grab;
        rotate: 2deg !important;
    }

    &:active {
        cursor: grabbing !important;
    }

    h2 {
        @include font-design($fs: 16px, $fw: 400);
        color: white;
        background-color: blue;
        padding: 4px 16px;
        border-radius: 8px;
    }

    .title-description {
        @include position-center($ai: flex-start, $fd: column);
        gap: 8px;

        h1 {
            @include font-design($fs: 16px, $fw: 700);
            word-break: break-all;
        }

        p {
            @include font-design($fs: 16px, $fw: 400);
            color: #A8A8A8;
            max-width: 210px;
            text-overflow: ellipsis;
            max-height: 40px;
            overflow: hidden;
            text-wrap-mode: nowrap;
            
        }
    }
}

.progress-bar {
    @include position-center($jc: space-between);
    gap: 20px;
    width: 100%;

    p {
        @include font-design($fs: 12px, $fw: 400);
        min-width: fit-content;
    }
}

footer {
    @include position-center($jc: space-between);
    width: 100%;
    .contacts-assigned {
        @include position-center($jc: flex-start);

        .contact-profile {
            @include font-design($fs: 12px, $fw: 400);
            width: 32px;
            height: 32px;
            border: 1px solid white;
        }
    }
}

.high-prio {
    color: $prio-high-color;
}

.medium-prio {
    color: $prio-medium-color;
}

.low-prio {
    color: $prio-low-color;
}