<section>
    @if (!dashboardService.editTask) {
        <header>
            <h2 [ngStyle]="{'background-color': task.category === 'Technical Task' ? '#1FD7C1' : 'blue'}">{{ task.category }}</h2>
            <mat-icon fontIcon="close" (click)="closeTaskDetailDialog()"></mat-icon>
        </header>
        <h1>{{ task.title }}</h1>
        <p class="description" *ngIf="task.description">{{ task.description }}</p>
        <div class="flex">
            <p>Due date:</p>
            <p>{{ task.date }}</p>
        </div>
        <div class="flex prio">
            <p>Priority:</p>
            <span>
                <p>{{ firstLetterBig(task.prio) }}</p>
                <mat-icon fontIcon="{{ dashboardService.controllPrio(task) }}"
                    [ngClass]="{'high-prio': task.prio == 'high', 'medium-prio': task.prio == 'medium', 'low-prio': task.prio == 'low'}"></mat-icon>
            </span>
        </div>
        <div class="contacts-part" *ngIf="contacts.length > 0">
            <p>Assigned To:</p>
            <div class="contacts-list">
                @for (contact of contacts; track $index) {
                <div class="contact">
                    <div class="contact-profile" [ngStyle]="{'background-color': contact.color}">
                        {{ dashboardService.getInitials(contact.name) }}
                    </div>
                    <p>{{ contact.name }}</p>
                </div>
                }
            </div>
        </div>
        <div class="substaks-part" *ngIf="subtasks.length > 0">
            <p>Subtasks:</p>
            <div class="subtask-list">
                @for (subtask of subtasks; track $index) {
                <div class="subtask">
                    <mat-checkbox (click)="setSubtaskToCompleted(subtask)" [checked]="subtask.completed">
                    </mat-checkbox>
                    <p>{{ subtask.title }}</p>
                </div>
                }
            </div>
        </div>
        <footer>
            <button (click)="deleteTask()"><mat-icon fontIcon="delete"></mat-icon>Delete</button>
            <div class="line-grey"></div>
            <button (click)="dashboardService.editTask= true"><mat-icon fontIcon="edit"></mat-icon>Edit</button>
        </footer>
    } @else {
        <app-add-task-form [formType]="'editTask'" [ngStyle]="{'width': '100%'}" [task]="task" (closeFormDialog)="closeTaskDetailDialog()"></app-add-task-form>
    }
</section>