@use "./../../../../styles.scss" as *;
@use "./../contacts.component.scss" as *;

section {
    @include position-center($fd: column, $ai: flex-start);
}

.profile-name-div {
    @include position-center();
    gap:clamp(0.875rem, -5.375rem + 10vw, 3.375rem);

    .profile-detail {
        @include font-design($fs: clamp(2.25rem, 0.5313rem + 2.75vw, 2.9375rem), $fw: 500);
        width: clamp(6.25rem, 3.125rem + 5vw, 7.5rem);
        height: clamp(6.25rem, 3.125rem + 5vw, 7.5rem);
        min-width: clamp(6.25rem, 3.125rem + 5vw, 7.5rem);
        min-height: clamp(6.25rem, 3.125rem + 5vw, 7.5rem);
        background-color: blue;
    }

    .name-detail {
        @include position-center($fd: column, $ai: flex-start);
        gap: 12px;
        h2 {
            @include font-design($fs: clamp(2rem, 1.5588rem + 2.2059vw, 2.9375rem), $fw: 500);
        }

        .edit-delete-div {
            @include position-center($jc: flex-start);
            gap: 15px;

            button {
                @include font-design($fs: 16px, $fw: 400);
                background-color: transparent;
                padding: 0;
                border: none;
                
                &:hover {
                    color: $light-blue;
                    transform: scale(1.05);
                }

                mat-icon {
                    transition: none;
                }
            }
        }
    }
}

.contact-info-detail {
    @include position-center($ai: flex-start, $fd: column);
    gap: clamp(1.25rem, 0.6618rem + 2.9412vw, 2.5rem);
    margin-top: clamp(0.9375rem, -0.0919rem + 5.1471vw, 3.125rem);
    
    .contact-information-p {
        @include font-design($fs: 20px, $fw: 400);
    }

    .email-div, .phone-div {
        @include position-center($ai: flex-start, $fd: column);
        gap: 8px;

        p {
            @include font-design($fs: 16px, $fw: 700);
        }
    }
}

@media screen and (max-width: 1000px) {
    .profile-detail {
        width: clamp(5.3125rem, 4.8713rem + 2.2059vw, 6.25rem) !important;
        height: clamp(5.3125rem, 4.8713rem + 2.2059vw, 6.25rem) !important;
        min-width: clamp(5.3125rem, 4.8713rem + 2.2059vw, 6.25rem) !important;
        min-height: clamp(5.3125rem, 4.8713rem + 2.2059vw, 6.25rem) !important;
    }
}