<section>
    <div class="profile-name-div">
        <div class="profile-detail contact-profile" [ngStyle]="{'background-color': dashboardService.currentContact.color}">
            {{ dashboardService.getInitials(dashboardService.currentContact.name) }}
        </div>
        <div class="name-detail">
            <h2>{{ dashboardService.currentContact.name }}</h2>
            <div class="edit-delete-div">
                <button (click)="openDialog('edit')"><mat-icon fontIcon="edit"></mat-icon>Edit</button>
                <button (click)="deleteContact()"><mat-icon fontIcon="delete"></mat-icon>Delete</button>
            </div>
        </div>
    </div>
    <div class="contact-info-detail">
        <p class="contact-information-p">Contact Information</p>
        <div class="email-div">
            <p>Email</p>
            <a href="mailto:{{ dashboardService.currentContact.email }}">{{ dashboardService.currentContact.email }}</a>
        </div>
        <div class="phone-div" *ngIf="dashboardService.currentContact.phone">
            <p>Phone</p>
            <a href="tel:{{ dashboardService.currentContact.phone }}">{{ dashboardService.currentContact.phone }}</a>
        </div>
    </div>
</section>
