<section>
    <div class="logo-background" [ngClass]="{'start-animation': dashboardService.showStartAnimation}" #animation>
        <img src="assets/img/join-logo-blue.png" alt="join-logo-blue">
    </div>
    <div class="img-placeholder">

    </div>
    <app-log-in-form [formType]="'signUp'"></app-log-in-form>
    <footer>
        <a (click)="dashboardService.goToPrivacyPolicyOrLegalNotice('privacyPolicy')">Privacy Policy</a>
        <a (click)="dashboardService.goToPrivacyPolicyOrLegalNotice('legalNotice')">Legal Notice</a>
    </footer>
</section>
