@use './../../styles.scss' as *;

$logo-width: clamp(60px, 2.5735rem + 5.8824vw, 100px);
$logo-height: clamp(80px, 3.8235rem + 5.8824vw, 120px);
$logo-with-animation: clamp(6.25rem, 1.1324rem + 25.5882vw, 17.125rem);
$logo-height-animation: clamp(7.5rem, 1.1765rem + 31.6176vw, 20.9375rem);

app-log-in-form {
    width: 100%;
    max-width: 600px;
}

section {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: clamp(0.5rem, -0.4412rem + 4.7059vw, 2.5rem);
    @include position-center();
}

header {
    position: absolute;
    @include position-center($jc: flex-end);
    top: 40px;
    width: 100%;
    gap: 35px;
    padding: 0 40px;

    p {
        @include font-design($fs: 20px);
    }
}

footer {
    position: absolute;
    bottom: clamp(0.5rem, -0.4412rem + 4.7059vw, 2.5rem);
    display: flex;
    gap: clamp(0rem, -1.1765rem + 5.8824vw, 2.5rem);

    a {
        color: rgba(0, 0, 0, 0.2);

        &:hover {
            transform: scale(1.05);
            color: #29ABE2;
        }
    }

    ;
}

.logo-background {
    position: absolute;
    top: clamp(0.5rem, -0.4412rem + 4.7059vw, 2.5rem);
    left: clamp(0.5rem, -0.4412rem + 4.7059vw, 2.5rem);

    img {
        width: $logo-width;
        height: $logo-height;
    }
}

.start-animation {
    @include position-center();
    z-index: 2;
    height: 100vh;
    width: 100vw;
    animation: background-animation 750ms linear forwards 750ms;
    background-color: #F6F7F8;

    img {
        width: $logo-with-animation;
        height: $logo-height-animation;
        animation: img-animation 750ms linear forwards 750ms;
    }
}


@keyframes background-animation {
    0% {
        height: 100vh;
        width: 100vw;
    }

    20% {
        background-color: transparent;
        top: clamp(0.5rem, -0.4412rem + 4.7059vw, 2.5rem);
        left: clamp(0.5rem, -0.4412rem + 4.7059vw, 2.5rem);
    }

    100% {
        width: $logo-width;
        height: $logo-height;
        background-color: transparent;
        top: clamp(0.5rem, -0.4412rem + 4.7059vw, 2.5rem);
        left: clamp(0.5rem, -0.4412rem + 4.7059vw, 2.5rem);
    }
}

@keyframes img-animation {
    0% {
        width: $logo-with-animation;
        height: $logo-height-animation;
    }

    100% {
        width: $logo-width;
        height: $logo-height;
    }
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }

    header {
        @include position-center();
        padding: 0;
        position: relative;
    }
}