@use '@angular/material' as mat;

$blue: #2A3647;
$dark-blue: #091931;
$light-blue: #29ABE2;
$hover-color: #2A3D59;
$prio-high-color: red;
$prio-medium-color: #FFA800; 
$prio-low-color: #7AE229;

@mixin position-center($d: flex, $jc: center, $ai: center, $fd: row) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin font-design($fs: 16px, $fw: 400) {
    font-size: $fs;
    font-weight: $fw;
}

// Angular Material
.mdc-icon-button svg, .mat-datepicker-toggle {
    @include position-center();
    width: 20px !important;
    height: 20px !important;
}

.mdc-checkbox__background, .mdc-checkbox {
    width: 14px !important;
    height: 14px !important;
    flex: 0 0 12px !important;  
}

.mat-mdc-checkbox .mdc-checkbox__ripple, .mat-mdc-icon-button .mat-mdc-button-ripple, .mat-mdc-icon-button .mat-mdc-button-persistent-ripple, .mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
    display: none !important;
}
// Ende Angular Material


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

mat-icon {
    font-family: 'Material Icons' !important;
}

h1 {
    @include font-design($fs: 61px, $fw: 700);
}

button, a {
    @include position-center();
    @include font-design($fs: 16px, $fw: 600);
    border-radius: 10px;
    padding: 15px 16px;
    cursor: pointer;
    transition: 125ms ease;
    text-decoration: none;

    &.filled {
        background-color: #2A3647;
        color: white;
        border: none;

        &:hover {
            background-color: #29ABE2;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
        }
    }

    &.outline {
        @include font-design($fw: 600);
        background-color: transparent;
        color: #2A3647;
        border: 1px solid #2A3647;

        &:hover {
            color: #29ABE2;
            background-color: transparent;
            border: 1px solid #29ABE2;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

label {
    @include position-center($jc: space-between);
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 12px;

    input, textarea, select {
        @include font-design($fs: 16px);
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        height: 100%;

        &::placeholder {
            opacity: 0.4;
        }

        &:-webkit-autofill {
            box-shadow: 0 0 0px 1000px white inset !important;
            -webkit-text-fill-color: black !important;
        }
    }
}

section {
    background-color: #F6F7F8;
    height: 100%;
    width: 100%;
}

form {
    @include position-center($fd: column);
    gap: 24px;

    mat-icon {
        color: rgba(0, 0, 0, 0.2);
        font-size: 24px;
    }

    input {
        background-color: transparent;
    }
    
    label {
        position: relative;
    }

    .span-error {
        position: absolute;
        @include font-design($fs: 12px, $fw: 300);
        left: 0;
        top: 50px;
        color: red;
    }

    .disabled {
        cursor: auto;
        opacity: 0.5;    
    }
}

.content-dashboard {
    @include position-center($fd: column, $ai: flex-start, $jc: flex-start);
    gap: 80px;
    padding: 64px;
}

.contact-profile {
    @include position-center();
    border-radius: 100%;
    color: white;
    border: 4px solid white;
    background-color: #29ABE2;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 

input[type=number] {
  appearance: textfield;
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../public/fonts/inter-v18-latin-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../public/fonts/inter-v18-latin-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/inter-v18-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/inter-v18-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/inter-v18-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../public/fonts/inter-v18-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/inter-v18-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../public/fonts/inter-v18-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../public/fonts/inter-v18-latin-900.woff2') format('woff2');
}