@import './../../../styles.scss';

.background {
    background-color: white;
    @include position-center($fd: column);
    padding: 20px;
    border-radius: 30px;
} 

form {
    @include position-center($fd: column);
}

