<section class="content-dashboard">
    <h1>Privacy Policy</h1>
    <h2 id="m716">Preamble</h2>
    <p>With the following privacy policy, we would like to inform you about the types of your personal data (hereinafter
        also referred to as "data") that we process, for what purposes, and to what extent. This privacy policy applies
        to all processing of personal data carried out by us, both in the provision of our services and particularly on
        our websites, in mobile applications, and within external online presences, such as our social media profiles
        (hereinafter collectively referred to as "online offering").</p>
    <p>The terms used are not gender-specific.</p>

    <p>Effective date: January 28, 2025</p>
    <h2>Table of Contents</h2>
    <ul class="index">
        <li (click)="scrollToSection('m716')">Preamble</li>
        <li (click)="scrollToSection('m3')">Controller</li>
        <li (click)="scrollToSection('mOverview')">Overview of Processing</li>
        <li (click)="scrollToSection('m2427')">Relevant Legal Bases</li>
        <li (click)="scrollToSection('m27')">Security Measures</li>
        <li (click)="scrollToSection('m25')">Transfer of Personal Data</li>
        <li (click)="scrollToSection('m24')">International Data Transfers</li>
        <li (click)="scrollToSection('m12')">General Information on Data Retention and Deletion</li>
        <li (click)="scrollToSection('m225')">Provision of the Online Offering and Web Hosting</li>
        <li (click)="scrollToSection('m367')">Registration, Login, and User Account</li>
        <li (click)="scrollToSection('m15')">Changes and Updates</li>
        <li (click)="scrollToSection('m42')">Definitions</li>
        <li (click)="scrollToSection('m10')">Rights of Data Subjects</li>
    </ul>


    <h2 id="m3">Controller</h2>
    <p>Albin Schmid<br>Oberried 60<br>6444 Längenfeld, Austria</p>
    <p class="email">Email:<a href="mailto:contact@albin-schmid.com"> contact&#64;albin-schmid.com</a> </p>
    

    <h2 id="mOverview">Overview of Processing</h2>
    <p>The following overview summarizes the types of processed data, the purposes of their processing, and the affected
        individuals.</p>
    <h2>Types of Processed Data</h2>
    <ul>
        <li>Inventory data.</li>
        <li>Contact data.</li>
        <li>Content data.</li>
        <li>Usage data.</li>
        <li>Meta, communication, and procedural data.</li>
        <li>Log data.</li>
    </ul>

    <h2>Categories of Affected Persons</h2>
    <ul>
        <li>Users.</li>
    </ul>

    <h2>Purposes of Processing</h2>
    <ul>
        <li>Provision of contractual services and fulfillment of contractual obligations.</li>
        <li>Security measures.</li>
        <li>Organizational and administrative procedures.</li>
        <li>Provision of our online offering and user-friendliness.</li>
        <li>Information technology infrastructure.</li>
    </ul>

    <h2 id="m2427">Relevant Legal Bases</h2>
    <p><strong>Relevant legal bases under the GDPR:</strong> Below you will find an overview of the legal bases of the
        GDPR on which we process personal data. Please note that, in addition to the regulations of the GDPR, national
        data protection regulations may apply in your or our country of residence. If more specific legal bases apply in
        individual cases, we will inform you in this privacy policy.</p>
    <ul>
        <li><strong>Contract performance and pre-contractual inquiries (Art. 6(1)(b) GDPR)</strong> - Processing is
            necessary for the performance of a contract to which the data subject is a party or for pre-contractual
            measures taken at the request of the data subject.</li>
        <li><strong>Legitimate interests (Art. 6(1)(f) GDPR)</strong> - Processing is necessary to protect the
            legitimate interests of the controller or a third party, provided that the interests, fundamental rights,
            and freedoms of the data subject do not override those interests.</li>
    </ul>

    <p><strong>National data protection regulations in Austria:</strong> In addition to the GDPR, national regulations
        on data protection in Austria apply. This includes, in particular, the Federal Act on the Protection of Natural
        Persons in the Processing of Personal Data (Data Protection Act – DSG).</p>

    <h2 id="m27">Security Measures</h2>
    <p>We take appropriate technical and organizational measures to ensure a level of security appropriate to the risk,
        in accordance with legal requirements.</p>

    <h2 id="m25">Transfer of Personal Data</h2>
    <p>In the course of processing personal data, we may disclose or transmit it to other entities, companies, legally
        independent organizational units, or persons.</p>

    <h2 id="m24">International Data Transfers</h2>
    <p>We process data in third countries only in compliance with legal requirements.</p>

    <h2 id="m12">General Information on Data Retention and Deletion</h2>
    <p>We delete personal data as soon as their processing purpose ceases, and there are no longer any legal obligations
        for retention.</p>

    <h2 id="m10">Rights of Data Subjects</h2>
    <ul>
        <li><strong>Right to Object:</strong> You have the right to object at any time to the processing of your
            personal data based on Art. 6(1)(e) or (f) GDPR.</li>
        <li><strong>Right to Withdraw Consent:</strong> You have the right to withdraw consent at any time.</li>
        <li><strong>Right to Access:</strong> You have the right to request confirmation of whether data concerning you
            is being processed.</li>
        <li><strong>Right to Rectification:</strong> You have the right to request the correction of incorrect or
            incomplete personal data.</li>
        <li><strong>Right to Erasure:</strong> You have the right to request the immediate deletion of your data.</li>
        <li><strong>Right to Data Portability:</strong> You have the right to receive your data in a structured,
            commonly used, and machine-readable format.</li>
        <li><strong>Right to Lodge a Complaint:</strong> You have the right to lodge a complaint with a supervisory
            authority.</li>
    </ul>

    <h2 id="m225">Provision of the Online Offering and Web Hosting</h2>
    <p>We process user data to provide our online services.</p>

    <h2 id="m367">Registration, Login, and User Account</h2>
    <p>Users can create a user account. Required information will be communicated during registration.</p>

    <h2 id="m15">Changes and Updates</h2>
    <p>We encourage you to regularly review the content of our privacy policy.</p>

    <h2 id="m42">Definitions</h2>
    <ul class="glossary">
        <li><strong>Personal Data:</strong> Any information relating to an identified or identifiable natural person.
        </li>
        <li><strong>Processing:</strong> Any operation performed on personal data.</li>
        <li><strong>Controller:</strong> The entity that determines the purposes and means of processing personal data.
        </li>
    </ul>

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Legal text by Dr. Schwenke - click for more information." target="_blank"
            rel="noopener noreferrer nofollow">Created with the free privacy policy generator by Dr. Thomas Schwenke</a>
    </p>
</section>