@use './../../../styles.scss' as *;

section {
    overflow: scroll;
    gap: 24px !important;
    justify-content: flex-start !important;
}

.index {
    li {
        cursor: pointer;
        &:hover {
            color: $light-blue;
        }
    }
}

a {
    display: block;
    padding: 0;
    color: $light-blue;
    font-weight: 400 !important;
}

ul {
    list-style-position: inside;
}

.email {
    display: flex;
    gap: 4px;
}

p, li, a {
    @include font-design($fs: 16px, $fw: 400)
}

::-webkit-scrollbar {
    width: 8px;
}
